:root {
    --blinker:rgb(255, 165, 0);
    --paint:rgb(240, 240, 240);
    --chrome:rgb(227, 227, 227);
    --lip:rgb(0, 0, 0);
    --beaks:rgb(215,215,215);
}

.bg-primary {
    background-color: var(--paint) !important;
}

.bg-danger {
    background-color: var(--beaks) !important;
}

.bg-success {
    background-color: var(--chrome) !important;
}

.bg-warning {
    background-color: var(--lip) !important;
    color: var(--paint);
}

html {
    font-size: calc(14px + 0.25vw);
}
#skip a {
    position:absolute;
    top:-10000px;
    width:1px;
    height:1px;
}
#skip a:focus {
    top: 0px;
    width: auto;
    height: auto;
    background-color: var(--paint);
}

main {
    background-color: var(--lip);
}
img {
    width: 100%;
}
.titleRow {
    text-align: center;
}
.copyrightRow {
    text-align: center;
}
a {
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 10px;
}
a:focus, a:hover {
    background-color: var(--blinker);
}
figcaption {
    text-align: center;
    margin-top: auto;
}
.title {
    font-size: calc(24px + 0.25vw);
}
.carousel img{
    width:100%;
    object-fit: cover;
}
